@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <img src="https://community.akamai.steamstatic.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxH5rd9eDAjcFyv45SRYAFMIcKL_PArgVSL403ulRUWEndVKv4j5eFBg07JwcHs7n2fVRmiqHLKWQRut7hxIKNkaSmMuuEz2oD6ZMk3rvEpYn33BqkpRT0Q8ATuw/330x192" style="margin-top:20%;width:10%;height:10%" />
    </div>
